.App {
  text-align: center;
  background-color: #222b31;
}
.nav-bar {
  background-color: #191c1f;
}
.titles {
  color: white;
  cursor: pointer;
}
.nav-bar-element-active {
  background-color: #222b31;
  font: bold;
  color: #f83745;
}
